<h2>New celebrity</h2>

<form action="/celebrities/create" method="post">
  <label> Name:
    <input type="text" name="name" required />   
  </label>

  <label> Occupation:
    <input type="text" name="occupation" required />
  </label>

  <label> Catch Phrase:
    <textarea name="catchPhrase" required cols="30" rows="4" > </textarea>
  </label>

  <button type="submit"> Create a celebrity</button>
</form>
